.formComprar {
    width: 50% !important;
    
}

.contenImagenPrevia {
    width: 200px !important;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #b19393;
}

.form-control-compra {
    width: 100% !important;
}

.form-control-compraImagen {
    width: 100% !important;
}

.graficosRecursos {
    width: 300px !important;
}

.contenImagen {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #b19393;
}

.contenImagenPrevia {
    width: 200px !important;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #b19393;
}





